<div class="text-center mt-5">
  <ul class="list-unstyled">
    <li><%= link_to 'Pundit実装サイト', case1.root_path, class: 'btn btn-primary w-50' %></li>
    <li class="mt-5"><%= link_to 'Cancancan実装サイト', case2.root_path, class: 'btn btn-primary w-50' %></li>
    <li class="mt-5"><%= link_to 'Banken実装サイト', case3.root_path, class: 'btn btn-primary w-50' %></li>
  </ul>
</div>
